.photo-grid {
  display: grid;
  justify-content: center;
  gap: 12px;
  padding-top: 64px;
}

@media (min-width: 480px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .photo-grid {
    gap: 16px;
    padding-top: 88px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 92px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
