.footer__link {
  color: #fff;
  text-decoration: none;
  line-height: 1;
  font-size: 24px;
  transition: .5s;
}

.footer__link:hover {
  opacity: .8;
  transition: .2s linear;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}
