.place:last-of-type {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .place + .place {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr max-content;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1179px) {
  .place {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
  }
}
