.footer {
  color: #fff;
  padding-top: 64px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 92px;
  }
}
